.first {
    background: radial-gradient(ellipse at center, #bf0a30, #ffffff, #002868);
}
 .second {
    background: radial-gradient(ellipse at center, #006341, #ffffff, #ce1126) ;
}
/*todo remove important*/



.translateRight {
    transform: translateX(50%);
    background-image: url("https://purecatamphetamine.github.io/country-flag-icons/3x2/MX.svg");
}

.translateLeft {
    transform: translateX(-50%);
    background-image: url("https://purecatamphetamine.github.io/country-flag-icons/3x2/US.svg");
}