.textBox {
    display: block;
    height: 50svh;
    width: 50svw;
    margin-bottom: 50px;
}
.utilitiesForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
.tone {
    display: block;
    /*text-align: center;*/
}

.format {
    display: block;
}
.size {
    display: block;
}