.topBar {
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.modalButton {
    height: 100%;
    margin-left: 10px;
}
.twitterButton {
    margin-right: 10px;
}
