.textBox {
    resize: none;
    display: block;
    height: 30svh;
    width: 50svw;
    margin-bottom: 10px;
}
.textForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alertLengthMessage{
    max-width: 157px;
    margin-bottom: 10px;
}
@media only screen and (min-width: 500px) {
    .alertLengthMessage{
        max-width: none;
    }
}