.app {
    height: 100dvh;
    position: relative;
}
.orderList {
    text-align: justify;
    list-style: none;
    counter-reset: cupcake;
    /*padding-left: 32px;*/
}
.orderList li {
    counter-increment: cupcake;
}
.orderList li:before {
    content: counters(cupcake, '.') ' ';
    /* Whatever custom styles you want here */
    color: hotpink;
    font-weight: bold;
    font-family: cursive;
}
.response {
    height: 30svh;
}
.welcomeMessage{
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;
}